@charset "UTF-8";
* {
  box-sizing: border-box;
}

head {
 color: #777;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

a {
  text-decoration: none;
}

.clear {
  clear: center;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.mempelai img{
  width: 500px;
}

.tanggal {
  color:  #F4D03F;
  font-weight: bold;
  height:1000;
}

.top-wrapper {
  padding: 188px 0 500px 0;
  background-image: url(https://raw.githubusercontent.com/MuhammadAbidWijiyanto09/undangan/main/20220308_144017_0000.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 40px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.lokasi { 
  float: center;
  font-weight: bold;
  background: #F4D03F;
  color: black;
  padding: 7px 2px;
  border-radius: 40px;
  display: inline-block;
  margin: auto;
  transition: all 0.3s;
  opacity: 0.2;
}

.lokasi:hover {
  font-weight: bold;
  cursor: pointer;
  background: #239B56;
  color: #F5F9F9;
  opacity: 9;
}

.kata2 p {
  margin-top: 200;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: center;
  margin-right: -25px;
  opacity: 0.7;
}

.fokus a {
  line-height: 65px;
  padding: 0 25px;
  color: #2345CD;
  display: block;
  float: left;
  transition: all 0.5s;
  font-weight: bold;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
  font-weight: bold;
}

.header-right2 {
  float: right;
}

.header-right a:hover {
  color: #B2BABB;
  font-weight: bold;
}
